In [4]:
import pandas as pd

In [5]:
city_data = pd.read_csv("Resources/cities.csv")

In [10]:
# city_data.rename(columns={"":"City_ID"})
city_data.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hilo,19.7297,-155.0900,73.40,60,20,4.61,US,1614747392
1,1,vaini,-21.2000,-175.2000,78.80,89,75,16.11,TO,1614747165
2,2,kapaa,22.0752,-159.3190,71.60,73,40,24.16,US,1614747392
3,3,rikitea,-23.1203,-134.9692,78.73,70,34,4.25,PF,1614747347
4,4,caucaia,-3.7361,-38.6531,82.00,83,20,10.36,BR,1614747393

In [11]:
city_data.to_html("city_data.html")